{% extends "base_generic.html" %}

{% block content %}
    <h1>My form</h1>
    <ul class="list">
      <li>Username: {{ user.username }}</li>
      <li>First name: {{ user.first_name }}</li>
      <li>Last name: {{ user.last_name }}</li>
      <li>Phone number: {{ user.profile.phone_number }}</li>
      <li>Adress: {{ user.profile.adress }}</li>
      <a href="{% url 'update_profile' %}">Edit profile</a>
    </ul>
    <h2>Borrowed books</h2>

    {% if bookinstance_list %}
    <ul class="list">

      {% for bookinst in bookinstance_list %} 
      <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no books borrowed.</p>
    {% endif %}
{% endblock %}

